::-webkit-input-placeholder{color: $silver; font-size: $extra-small-font; font-family: $font-secondary;}
::-moz-placeholder{color: $silver; font-size: $extra-small-font; font-family: $font-secondary;}
:-moz-placeholder{color: $silver; font-size: $extra-small-font; font-family: $font-secondary;}
:-ms-input-placeholder{color: $silver; font-size: $extra-small-font; font-family: $font-secondary;}